<footer>
  <ul class="links footer-ul">
    <li>&copy; Shelter Private Limited</li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>
  <ul class="social footer-ul">
    <li>
      <a
        href="https://www.linkedin.com/in/naeemullah-~-081059352?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/Naeemu11ah">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/syed.naeemullah.shah?igsh=MTI0aWowZGp1bDZsNw%3D%3D"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a
        href="https://www.tiktok.com/@syed.naeemullah.shah?_t=ZS-8va4NkSHwrS&_r=1"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
    </li>
  </ul>
</footer>
