<footer>
  <ul class="links footer-ul">
    <li>&copy; Shelter Private Limited</li>
    <li><a href="/terms">Terms</a></li>
    <li><a href="/privacy">Privacy</a></li>
  </ul>
  <ul class="social footer-ul">
    <li><i class="fa-brands fa-facebook"></i></li>
    <li><i class="fa-brands fa-x-twitter"></i></li>
    <li><i class="fa-brands fa-instagram"></i></li>
  </ul>
</footer>
